.container {
	font-family: Georgia, serif;
	color: #8A7575;
	font-style: italic;
	/*
	 * #777777;
	 */
	width: 65%;
	min-height: 100%;
	margin-top: -120px;
	line-height: 20px;
	font-size: 15px;
	margin: 0 auto;
	margin-top: 10px;
}
* html .container {
	height: 100%
}
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;/* thank you Erik J - negate effect of float*/
}
.container:after {/* thank you Erik J - instead of using display table for ie8*/
	clear: both;
	display: block;
	height: 1%;
	content: " ";
}
.content {
	position: relative;
	border: 20px solid transparent;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	margin-top: 15px;
	line-height: 24px;
	#-moz-box-shadow:         5px 5px 5px #CCC;
	#-webkit-box-shadow: 5px 5px 5px #CCC;
}
.toggleContainer {
	background: #FFFFFF;
	padding: 10px;
	position: relative;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
.toggleSection {
	position: relative;
	z-index: 3;
	background: #ffffff;
}
.toggleSection#scientific {
	background: transparent;
}
.toggleInfo#scientific {
	background: none;
}
.toggler h3 {
	margin-top: 6px;
	margin-bottom: 6px;
	font-size: 25px;
}
.toggleInfo ul {
	margin: 0.65em 0;
	padding: 0 1.5em;
	list-style: none;
}
.toggleInfo h4 {
	font-style: normal;
}
.toggleInfo h5 {
	font-style: normal;
	font-size: 13px;
	margin-left: 22px;
	
}
.toggleInfo li:before {
	content: "";
	border-color: transparent #8A7575;
	border-style: solid;
	border-width: 0.35em 0 0.35em 0.45em;
	display: block;
	height: 0;
	width: 0;
	left: -1em;
	top: 1.1em;
	position: relative;
}
.imagen {
	float: left;
	width: 130px;
	height: 174px;
	padding: 5px;
	margin: 5px;
}
.bioContainer {
	padding: 8px;
}
.textoBio {
	margin-top: -3px;
	line-height: 24px;
	text-align: justify;
	width: 97%;
}
.textoBio p {
	margin-top: 10px;
}
.textoBio a {
	text-decoration: none;
	font-weight: bold;
	color: #8A7575;
}
.justifiedText a {
	text-decoration: none;
	font-weight: lighter;
	color: #8A7575;
}
.justifiedText {
	text-align: justify;
	padding: 0 0 10px;
}
.justifiedText#technical {
	padding: 20px;
}
.toggleInfo:after {
	overflow: visible;
}
.toggleInfo {
	width: 95%;
	margin-left: 37px;
	font-style: italic;
	position: relative;
	background: url('../images/pattern.png') repeat scroll 0 0 transparent;
}
.educationTx{
	z-index:1;
	position:relative;
	background: url('../images/big-fade4.png') repeat-x scroll 0 0;
}
.education {
	position:relative;
	z-index:0;
	padding: 10px;
}
.education ul{
	padding-left: 25px;
	padding-right: 0;
	margin-top: -2px;
}
.pfExperience {
	padding: 10px;
}
.disclaimer {
	background: #D0C8C8;
	color: #8A7575;
	padding: 10px;
	border: 5px solid #F3F1F1;
	font-weight: normal;
	border-radius: 15px;
	width: 92%;
	margin-left: 35px;
}
.textoContact {
	text-align: center;
	padding: 20px;
}
.footer {
	padding: 12px;
	margin-top: 20px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
.insideFooter {
	position: relative;
	background-color: #8A7575;
	height: 64px;
	width: 100%;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
.insideFooter div {
	z-index: 0;
	float: right;
	margin-top: 30px;
	padding: 5px;
	position: inherit;
	font-size: 13px;
	color: white;
	font-style: italic;
	text-align: right;
	line-height: 12px;
}
