.container {
	font-family: Georgia, serif;
	color: #8A7575;
	font-style: italic;
	/*
	 * #777777;
	 */
	width: 65%;
	min-height: 100%;
	margin-top: -120px;
	line-height: 18px;
	font-size: 20px;
	margin: 0 auto;
	margin-top: 10px;
}
* html .container {
	height: 100%
}
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;/* thank you Erik J - negate effect of float*/
}
.container:after {/* thank you Erik J - instead of using display table for ie8*/
	clear: both;
	display: block;
	height: 1%;
	content: " ";
}
.content {
	position:relative;
	border: 15px solid transparent;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	margin-top: 15px;
	#-moz-box-shadow: 5px 5px 5px #CCC;
	#-webkit-box-shadow: 5px 5px 5px #CCC;
	#box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.toggleContainer{
	background: #FFFFFF;
	padding: 20px;
}
.toggleSection{
	position:relative;
	z-index:3;
	background: #ffffff;
}
.toggler h3 {
	margin-top: 6px;
	margin-bottom: 6px;
	font-size: 25px;
}
.toggleInfo ul {
	margin: 0.75em 0;
	padding: 0 2em;
	list-style: none;
}
.toggleInfo h4 {
	font-style: normal;
}
.toggleInfo li:before {
	content: "";
	border-color: transparent #8A7575;
	border-style: solid;
	border-width: 0.35em 0 0.35em 0.45em;
	display: block;
	height: 0;
	width: 0;
	left: -1em;
	top: 0.9em;
	position: relative;
}
.biosContainer{
	position:relative;
	background: url('../images/pattern.png') repeat scroll 0 0 transparent;
    
}
.togglseInfo#bio{
	position:relative;
	border: 15px solid transparent;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.imagen {
	float: left;
	width: 130px;
	height: 174px;
	padding: 3px;
	margin: 10px;
}
.textoBio {
	margin-top: -3px;
	line-height: 24px;
	text-align: justify;
	width: 97%;
}
.textoBio p {
	margin-top: 10px;
}
.textoBio a {
	text-decoration: none;
	font-weight: bold;
	color: #777777;
}
.justifiedText a {
	text-decoration: none;
	font-weight: bolder;
	color: #777777;
}
.justifiedText {
	text-align: justify;
	padding: 10px 30px 15px 30px;
}
.toggleInfo:after {
	overflow: visible;
}
.toggleInfo {
	width: 92%;
	margin-left: 35px;
	font-size: 14px;
	font-style: italic;
	position:relative;
	background: url('../images/pattern.png') repeat scroll 0 0 transparent;
}
.disclaimer {
	background: #D0C8C8;
	color: #8A7575;
	padding: 10px;
	border: 5px solid #F3F1F1;
	font-weight: normal;
	border-radius: 15px;
	width: 92%;
	margin-left: 35px;
}
.textoContact {
	text-align: center;
}
.fooster {
	#background:    url('../images/bg.gif') repeat-x scroll #8A7575;
	#background-color:#8A7575;
	#border-top: 8px transparent;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	border-top: 8px solid transparent;
}
.insidesFooter {
	background-color: #8A7575;
	height: 120px;
	width: 100%;
}
