html {
	background: url("../images/pattern.png") repeat scroll 0 0 transparent;
	color: #8A7575;
	font-family: Georgia, serif;
	font-style: italic;
}
.error404 {
	background: url("../images/404.png") no-repeat scroll 0 0 transparent;
	height: 365px;
	margin: 0 auto;
	width: 362px;
}
.textError {
	margin: -30px auto 0;
	text-align: center;
	width: 50%;
}
